{% extends "index.html" %}

{% load static %}

{% block encabezado %} Amigos {% endblock %}

{% block titulo %} Agregar amigos {% endblock %}

{% block subtitulo %} Agregar amigo {% endblock %}

{% block contenido %}

<br>
<form action="{% url 'aniadir_amigos' %}" method="POST"> {% csrf_token %}

    <table>
    {{ formulario.as_table }}
    </table>
    <br>
    <input type="submit" value="Agregar amigo">

</form>

<h3>{{ mensaje }}</h3>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Online</th>
        </tr>
    </thead>
    <tbody>
        {% for amigo in amigos %}
            <tr>
                <td>
                    {{ amigo.nombre }}
                </td>
                <td>
                    {{ amigo.usuario }}
                </td>
                <td>
                    {{ amigo.online }}
                </td>
                <td>
                    <a class="btn btn-success" href="{% url 'editar_amigo' amigo.id %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'eliminar_amigo' amigo.id %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}