{% extends "index.html" %}

{% load static %}

{% block encabezado %} Carrito {% endblock %}

{% block titulo %} Agregar articulos al Carrito {% endblock %}

{% block subtitulo %} aca agrego articulos {% endblock %}

{% block contenido %}
                
<h2>Agregar producto al carrito</h2>
<form action="{% url 'aniadir_carrito' %}" method="POST"> {% csrf_token %}

    <table>
    {{ formulario.as_table }}
    </table>
    <br>
    <input type="submit" value="Agregar al carrito">

</form>

<h3>{{ mensaje }}</h3>

{% endblock %}